ml-nanodegree/ML\ Nanodegree\ Resources/projects/dog-project/dogImages/*
ml-nanodegree/ML\ Nanodegree\ Resources/projects/dog-project/lfw/*
*.hdf5
*.npz
ml-nanodegree/ML Nanodegree Resources/projects/capstone/capstone_train_and_test/test.csv
ml-nanodegree/ML Nanodegree Resources/projects/capstone/capstone_train_and_test/train.csv
